html, body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

form {
	width: 70%;
	display: block;
	margin: 20px auto;
	background-color: aliceblue;
	padding: 20px;
	border-radius: 40px;
}

h2 {
	text-transform: uppercase;
}

.error {
	color: red;
}